#s4-workspace{
    .section-filters{
        .column-1{
            width:280px;
            @media only screen and (max-width:768px){
                width:100%;
            }
        }
        .column-2{
            width:calc(100% - 280px);
            @media only screen and (max-width:768px){
                width:100%;
            }
        }
        .filters{
            background-color:$grey-light;
            padding:40px;
            @media only screen and (max-width:414px){
                padding:20px;
            }
            .filter{
                border-top:1px solid rgba($grey-dark,.2);
                margin:20px 0 0 0;
                padding:20px 0 0 0;
                .h5{
                    color:rgba($grey-dark,.7);
                    font-style:normal;
                    margin:0 0 20px 0;
                }
            }
        }
        .filters-result{
            padding:40px;
            @media only screen and (max-width:414px){
                padding:20px;
            }
            >.wrapper{
                margin:0 0 40px 0;
                @media only screen and (max-width:414px){
                    margin:0 0 20px 0;
                }
                &:last-of-type{
                    margin:0;
                }
                @media only screen and (max-width:1024px){
                    .row{
                        .col-auto{
                            width:100%;
                            flex-wrap:wrap;
                            margin:0 0 20px 0;
                            &:last-of-type{
                                margin:0;
                            }
                        }
                    }
                }
                .selectric-wrapper{
                    width:260px;
                    margin:0 30px 0 0;
                    @media only screen and (max-width:1024px){
                        width:100%;
                        margin:0;
                    }
                }
                .btn{
                    align-items:center;
                    color:$green-light;
                    display:flex;
                    font-size:14px;
                    padding:12px;
                    @media only screen and (max-width:1024px){
                        display:none;
                    }
                    .icon{
                        margin:0 0 0 20px;
                        svg{
                            fill:none;
                            height:17px;
                            width:17px;
                            path{
                                stroke:$green-light;
                            }
                        }
                    }
                }
            }
        }
    }
    .list-filter{
        .item{
            margin:0 0 10px 0;
            &:last-of-type{
                margin:0;
            }
            .input{
                display:none;
                &:checked{
                    + .label{
                        &:before{
                            background-color:$green;
                            border-color:$green;
                        }
                        &:after{
                            opacity:1;
                            visibility:visible;
                        }
                    }
                }
            }
            .label{
                align-items:center;
                color:$green;
                cursor:pointer;
                display:flex;
                font-size:14px;
                position:relative;
                @media only screen and (max-width:414px){
                    font-size:12px;
                }
                &:before{
                    background-color:$white;
                    border:1px solid rgba($grey-dark,.2);
                    border-radius:$radius;
                    box-shadow:-10px 14px 34px rgba($black,.15);
                    content:"";
                    height:20px;
                    width:20px;
                    margin:0 10px 0 0;
                    transition:$transition;
                }
                &:after{
                    border-right:1px solid $white;
                    border-bottom:1px solid $white;
                    content:"";
                    height:10px;
                    width:6px;
                    left:8px;
                    opacity:0;
                    position:absolute;
                    top:3px;
                    transform:rotate(45deg);
                    transition:$transition;
                    visibility:hidden;
                }
            }
        }
    }
    .list-test{
        display:flex;
        @media only screen and (max-width:1024px){
            flex-wrap:wrap;
            margin:-5px;
        }
        .item{
            margin:0 10px 0 0;
            @media only screen and (max-width:1024px){
                margin:5px;
            }
            &:last-of-type{
                margin:0;
                @media only screen and (max-width:1024px){
                    margin:5px;
                }
            }
            a{
                align-items:center;
                background-color:rgba($green-light,22%);
                color:$green;
                display:flex;
                font-size:14px;
                padding:15px;
                transition:$transition;
                @media only screen and (max-width:414px){
                    font-size:12px;
                }
                &:hover{
                    background-color:$green;
                    color:$white;
                    .icon{
                        .svg{
                            path{
                                stroke:$white;
                            }
                        }
                    }
                }
                .icon{
                    margin:0 0 0 10px;
                    .svg{
                        height:10px;
                        path{
                            transition:$transition;
                            stroke:$green;
                        }
                    }
                }
            }
        }
    }
    .list-filters-result{
        display:flex;
        flex-wrap:wrap;
        margin:-10px;
        .item{
            width:calc(100% / 6 - 20px);
            margin:10px;
            text-align:center;
            @media only screen and (max-width:1600px){
                width:calc(100% / 4 - 20px);
            }
            @media only screen and (max-width:1200px){
                width:calc(100% / 3 - 20px);
            }
            @media only screen and (max-width:1024px){
                width:calc(100% / 2 - 20px);
            }
            @media only screen and (max-width:768px){
                width:100%;
            }
            &.not-contemplated{
                .a{
                    background-color:$white;
                }
            }
            &.yellow{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$yellow;
                            }
                            .figcaption{
                                color:$yellow;
                            }
                        }
                    }
                }
            }
            &.green{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$green;
                            }
                            .figcaption{
                                color:$green;
                            }
                        }
                    }
                }
            }
            &.red{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$red;
                            }
                            .figcaption{
                                color:$red;
                            }
                        }
                    }
                }
            }
            &.orange{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$orange;
                            }
                            .figcaption{
                                color:$orange;
                            }
                        }
                    }
                }
            }
            &.wine{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$wine;
                            }
                            .figcaption{
                                color:$wine;
                            }
                        }
                    }
                }
            }
            &.blue{
                .a{
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$blue;
                            }
                            .figcaption{
                                color:$blue;
                            }
                        }
                    }
                }
            }
            .a{
                background-color:rgba($green-light,10%);
                border:1px solid $grey-light;
                display:block;
                padding:20px;
                transition:$transition;
                &:hover{
                    background-color:$green;
                    box-shadow:-10px 14px 34px rgba($black,.15);
                    color:$white;
                    >.wrapper{
                        .figure{
                            .svg{
                                fill:$white;
                            }
                            .figcaption{
                                color:$white;
                            }
                        }
                        .parcels{
                            .span{
                                color:$white;
                            }
                        }
                        .name{
                            .icon{
                                .svg{
                                    fill:$white;
                                }
                            }
                            .content{
                                color:$white;
                                .strong{
                                    color:$white;
                                }
                            }
                        }
                    }
                }
                >.wrapper{
                    border-bottom:1px solid $grey-light;
                    margin:0 0 20px 0;
                    padding:0 0 20px 0;
                    &:last-of-type{
                        border:none;
                        margin:0;
                        padding:0;
                    }
                    .category{
                        display:block;
                        font-style:italic;
                    }
                    .figure{
                        margin:0 0 10px 0;
                        .svg{
                            display:inline-block;
                            fill:$green;
                            height:55px;
                            margin:0 0 20px 0;
                            transition:$transition;
                        }
                        .figcaption{
                            display:block;
                            font-size:14px;
                            transition:$transition;
                            @media only screen and (max-width:414px){
                                font-size:12px;
                            }
                        }
                    }
                    .price{
                        display:block;
                        font-size:24px;
                        margin:0 0 20px 0;
                    }
                    .parcels{
                        line-height:1.3;
                        .span{
                            color:rgba($grey-dark,.7);
                            display:block;
                            font-size:14px;
                            transition:$transition;
                            @media only screen and (max-width:414px){
                                font-size:12px;
                            }
                        }
                    }
                    .name{
                        display:flex;
                        .icon{
                            .svg{
                                fill:rgba($grey-dark,.2);
                                height:20px;
                                transition:$transition;
                            }
                        }
                        .content{
                            color:rgba($grey-dark,.7);
                            font-size:12px;
                            line-height:1.3;
                            margin:0 0 0 20px;
                            text-align:left;
                            transition:$transition;
                            .strong{
                                color:$black;
                                display:block;
                                font-size:16px;
                                transition:$transition;
                            }
                            .span{
                                display:block;
                            }
                        }
                    }
                }
            }
        }
    }
}