.popup{
    background-color:$white;
    margin:auto;
    max-width:480px;
    padding:50px;
    position:relative;
    .popup-close{
        cursor:pointer;
        padding:20px;
        position:absolute;
        right:0;
        top:0;
        transition:1s;
        &:hover{
            transform:rotate(360deg);
        }
        .svg{
            display:block;
            height:16px;
            width:16px;
            max-width:100%;
            path{
                stroke:$black;
            }
        }
    }
    #s4-workspace{
        .wrapper{
            margin:0 0 20px 0;
            &:last-of-type{
                margin:0;
            }
        }
        .h4{
            color:#323c32;
            font-weight:700;
            font-style:normal;
            margin:0 0 20px 0;
        }
        .p{
            color:#5a645a;
            font-size:14px;
            line-height:1.4;
        }
        .form{
            .wrapper-radio{
                .span{
                    color:rgba($grey-dark,.7);
                    display:block;
                    font-size:14px;
                    margin:0 0 20px 0;
                }
            }
            .selectric-wrapper{
                margin:0 40px 0 0;
                min-width:220px;
                .selectric{
                    .label{
                        color:rgba($grey-dark,.7);
                        margin-left:0;
                    }
                    .button{
                        &:after{
                            border-color:$grey-dark;
                            height:8px;
                            width:8px;
                        }
                    }
                }
                .selectric-items{
                    .selectric-scroll{
                        li{
                            color:rgba($grey-dark,.7);
                        }
                    }
                }
            }
            .input{
                border-color:$grey-light;
                color:rgba($grey-dark,.7);
                font-size:14px;
                margin:0 40px 0 0;
                padding:10px 0;
                &:last-of-type{
                    margin:0;
                }
            }
            .btn{
                color:rgba($grey-dark,.7);
                font-size:14px;
                &.submit{
                    background-color:$green-light;
                    color:$white;
                    &:disabled{
                        background-color:$grey-light;
                        cursor:default;
                    }
                }
            }
            .input-radio{
                margin:0 0 10px 0;
                &:last-of-type{
                    margin:0;
                }
                .input{
                    display:none;
                    &:checked{
                        + .label{
                            color:$green;
                            &:before{
                                background-color:$green;
                                border-color:$green;
                            }
                        }
                    }
                }
                .label{
                    align-items:center;
                    color:rgba($grey-dark,.7);
                    cursor:pointer;
                    display:flex;
                    flex-wrap:wrap;
                    font-size:14px;
                    &:before{
                        background-color:transparent;
                        border:1px solid $grey-light;
                        border-radius:50%;
                        box-shadow:0 0 0 3px $white inset;
                        content:"";
                        height:18px;
                        width:18px;
                        margin:0 10px 0 0;
                        transition:$transition;
                    }
                    .small{
                        color:rgba($grey-dark,.4);
                        display:block;
                        flex: 0 0 100%;
                        font-size:12px;
                        margin:0 0 0 30px;
                    }
                }
            }
            .input-checkbox{
                .input{
                    display:none;
                    &:checked{
                        + .label{
                            &:before{
                                background-color:$green;
                                border-color:$green;
                            }
                            &:after{
                                opacity:1;
                                visibility:visible;
                            }
                        }
                    }
                }
                .label{
                    align-items:center;
                    color:rgba($grey-dark,.7);
                    cursor:pointer;
                    display:flex;
                    font-size:14px;
                    position:relative;
                    &:before{
                        background-color:$white;
                        border:1px solid rgba($grey-dark,.2);
                        border-radius:$radius;
                        box-shadow:-10px 14px 34px rgba($black,.15);
                        content:"";
                        height:20px;
                        width:20px;
                        margin:0 10px 0 0;
                        transition:$transition;
                    }
                    &:after{
                        border-right:1px solid $white;
                        border-bottom:1px solid $white;
                        content:"";
                        height:10px;
                        width:6px;
                        left:8px;
                        opacity:0;
                        position:absolute;
                        top:3px;
                        transform:rotate(45deg);
                        transition:$transition;
                        visibility:hidden;
                    }
                    .a{
                        color:$green-light;
                        display:contents;
                        text-decoration:underline;
                    }
                }
            }
        }
        .table{
            tr{
                &.value{
                    td{
                        padding:20px;
                    }
                }
                &.contact{
                    background-color:$green-light;
                    td{
                        border-color:$green-light;
                        padding:20px;
                        &:first-of-type,
                        &:last-of-type{
                            color:$white;
                        }
                    }
                }
                td{
                    &:first-of-type{
                        color:rgba($grey-dark,.7);
				        font-size:14px;
                    }
                    &:last-of-type{
                        color:$grey-dark;
                        font-size:16px;
                    }
                    .figure{
                        display:inline-block;
                        text-align:center;
                        svg{
                            fill:$green;
                            height:75px;
                            margin:0 0 10px 0;
                        }
                        .figcaption{
                            color:$green;
                            display:block;
                            font-size:14px;
                        }
                    }
                    .category{
                        border-bottom:1px solid $grey-light;
                        color:$grey-dark;
                        display:block;
                        font-size:16px;
                        margin:0 0 10px 0;
                        padding:0 0 10px 0;
                    }
                    .value{
                        line-height:1.3;
                        .strong{
                            color:$grey-dark;
                            display:block;
                            font-size:32px;
                        }
                    }
                    .name{
                        display:flex;
                        margin:0 0 10px 0;
                        .picture{
                            img{
                                border-radius:50%;
                                height:40px;
                                width:40px;
                            }
                        }
                        .content{
                            line-height:1.3;
                            margin:0 0 0 10px;
                            .strong{
                                display:block;
                                font-size:16px;
                            }
                            .span{
                                display:block;
                                font-size:12px;
                            }
                        }
                    }
                    .e-mail{
                        font-size:14px;
                        text-decoration:underline;
                    }
                }
            }
        }
        .offer{
            align-items:center;
            color:rgba($grey-dark,.7);
            display:flex;
            font-size:12px;
            font-style:italic;
            justify-content:center;
            .cart{
                margin:0 10px 0 0;
                svg{
                    fill:none;
                    height:20px;
                    width:20px;
                }
            }
        }
        .offer-date{
            color:rgba($grey-dark,.4);
            display:block;
            font-size:12px;
            text-align:center;
        }
    }
}