$black:#000;
$white:#fff;
$green:#146e37;
$green-light:#64c832;
$yellow:#ffcd00;
$red:#e60050;
$orange:#ff6400;
$blue:#46d7ff;
$wine:#730028;
$grey-dark:#323c32;
$grey-light:#e1e6e1;

$font-primary:'Exo 2',sans-serif;

$radius:4px;
$transition:.35s;